name: safe-to-test
on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true

jobs:
  confirm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Check if the PR author is a collaborator
        id: authorization
        run: 'gh api -H "Accept: application/vnd.github.v3+json" $API_URL'
        continue-on-error: true
        env:
          API_URL: /repos/${{ github.repository }}/collaborators/${{ github.event.pull_request.user.login }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        if: github.event.label.name != 'safe to test'

      - name: If collaborator, add the label
        run: gh pr edit $PR_NUMBER --add-label "safe to test"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR_NUMBER: ${{ github.event.number }}
        if: steps.authorization.outcome == 'success'
      
      - run: echo "${{ steps.authorization.outcome }}"
      - run: echo "${{ github.event.action }}"
      - run: echo "${{ github.event.label.name }}"

      - name: Remove the 'safe to test', not a collaborator, PR was updated or not just added
        id: removed
        run: gh pr edit $PR_NUMBER --remove-label "safe to test"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR_NUMBER: ${{ github.event.number }}
        if: >-
            steps.authorization.outcome != 'success' &&
            github.event.label.name != 'safe to test' &&
            ( github.event.action == 'synchronize' || github.event.action == 'reopened' )
     
      - name: Fail if not now labeled
        run: >-
          gh api -H "Accept: application/vnd.github.v3+json" $API_URL 
          --jq .labels | grep 'safe to test'
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          API_URL: /repos/${{ github.repository }}/issues/${{ github.event.number }}
