name: Sanity tests
on:
  workflow_call:
    inputs:
      matrix_exclude:
        # 2.9/3.9 not supported
        # 2.9/3.10 not supported
        # 2.10/3.6 cryptography issues
        # 2.10/3.10 not supported
        # 2.11/3.6 cryptography issues
        # 2.11/3.10 not supported
        # 2.12/3.6 not supported
        # 2.12/3.7 not supported
        # 2.13/3.6 not supported
        # 2.13/3.7 not supported
        # 2.14/3.6 not supported
        # 2.14/3.7 not supported
        # 2.14/3.8 not supported
        default: >-
          [
            {
              "ansible-version": "stable-2.9",
              "python-version": "3.9"
            },
            {
              "ansible-version": "stable-2.9",
              "python-version": "3.10"
            },
            {
              "ansible-version": "stable-2.10",
              "python-version": "3.6"
            },
            {
              "ansible-version": "stable-2.10",
              "python-version": "3.10"
            },
            {
              "ansible-version": "stable-2.11",
              "python-version": "3.6"
            },
            {
              "ansible-version": "stable-2.11",
              "python-version": "3.10"
            },
            {
              "ansible-version": "stable-2.12",
              "python-version": "3.6"
            },
            {
              "ansible-version": "stable-2.12",
              "python-version": "3.7"
            },
            {
              "ansible-version": "stable-2.13",
              "python-version": "3.6"
            },
            {
              "ansible-version": "stable-2.13",
              "python-version": "3.7"
            },
            {
              "ansible-version": "milestone",
              "python-version": "3.6"
            },
            {
              "ansible-version": "milestone",
              "python-version": "3.7"
            },
            {
              "ansible-version": "milestone",
              "python-version": "3.8"
            },
            {
              "ansible-version": "devel",
              "python-version": "3.6"
            },
            {
              "ansible-version": "devel",
              "python-version": "3.7"
            },
            {
              "ansible-version": "devel",
              "python-version": "3.8"
            }
          ]
        required: false
        type: string

jobs:
  sanity:
    env:
      PY_COLORS: "1"
      source_directory: "./source"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ansible-version:
          - stable-2.9
          - stable-2.10
          - stable-2.11
          - stable-2.12
          - stable-2.13
          - milestone
          - devel
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        exclude: ${{ fromJSON(inputs.matrix_exclude) }}
  
    name: "py${{ matrix.python-version }} / ${{ matrix.ansible-version }}"
    steps:
      - name: Checkout the collection repository
        uses: actions/checkout@v3
        with:
          path: ${{ env.source_directory }}
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: "0"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install ansible-core (${{ matrix.ansible-version }})
        run: python3 -m pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible-version }}.tar.gz --disable-pip-version-check

      - name: Read collection metadata from galaxy.yml
        id: identify
        uses: ansible-network/github_actions/.github/actions/identify_collection@main
        with:
          source_path: ${{ env.source_directory }}

      - name: Build and install the collection
        uses: ansible-network/github_actions/.github/actions/build_install_collection@main
        with:
          install_python_dependencies: false
          source_path: ${{ env.source_directory }}
          collection_path: ${{ steps.identify.outputs.collection_path }}
          tar_file: ${{ steps.identify.outputs.tar_file }}

      - name: Print the ansible version
        run: ansible --version

      - name: Print the python dependencies
        run: python3 -m pip list

      - name: Run sanity tests
        run: ansible-test sanity --requirements --color --python ${{ matrix.python-version }}
        working-directory: ${{ steps.identify.outputs.collection_path }}
