name: Sanity tests
on:
  workflow_call:
jobs:
  sanity:
    env:
      PY_COLORS: "1"
      source_directory: "./source"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ansible-version:
          - stable-2.9
          - stable-2.10
          - stable-2.11
          - stable-2.12
          - stable-2.13
          - devel
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
        exclude:
          - ansible-version: "stable-2.9"
            python-version: "3.9"
          - ansible-version: "stable-2.9"
            python-version: "3.10"
          - ansible-version: "stable-2.10"
            python-version: "3.10"
          - ansible-version: "stable-2.11"
            python-version: "3.10"

    name: "py${{ matrix.python-version }}/${{ matrix.ansible-version }}"
    steps:
      - name: Checkout the collection repository
        uses: actions/checkout@v3
        with:
          path: ${{ env.source_directory }}
      
      - name: Checkout the github_action repository
        uses: actions/checkout@v3
        with:
          path: ./github_actions
          repository: ansible-network/github_actions
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install ansible-core (${{ matrix.ansible-version }}) after collection requirements
        run: python3 -m pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible-version }}.tar.gz --disable-pip-version-check
        
      - name: Build and install the collection
        id: installed
        uses: ./github_actions/.github/actions/build_install_collection
        with:
          install_python_dependencies: false
          source_path: ${{ env.source_directory }}
          version: 0.0.${{ github.event.number }}
      
      - name: Print the ansible version
        run: ansible --version

      - name: Print the python dependencies
        run: python3 -m pip list

      - name: Run sanity tests
        run: ansible-test sanity --requirements --color --python ${{ matrix.python-version }}
        working-directory: ${{ steps.installed.outputs.collection_path }}
