name: Unit tests
on:
  workflow_call:

jobs:
  unit:
    env:
      PY_COLORS: "1"
      source_directory: "./source"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
        ansible-version:
          - stable-2.9
          - stable-2.10
          - stable-2.11
          - stable-2.12
          - stable-2.13
          - devel
        netcommon-version:
          - galaxy
          - github

    name: "py${{ matrix.python-version }} / ${{ matrix.ansible-version }} / ${{ matrix.netcommon-version }}"
    if: !contains(GITHUB_WORKSPACE, 'netcommon') and  ${{ matrix.netcommon-version != 'github' }}
    steps:
      - name: Checkout the collection repository
        uses: actions/checkout@v3
        with:
          path: ${{ env.source_directory }}

      - name: Checkout the github_action repository
        uses: actions/checkout@v3
        with:
          path: ./github_actions
          repository: ansible-network/github_actions
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install ansible-core (${{ matrix.ansible-version }})
        run: python3 -m pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible-version }}.tar.gz --disable-pip-version-check
      
      - name: Build and install the collection
        id: installed
        uses: ./github_actions/.github/actions/build_install_collection
        with:
          install_python_dependencies: true
          source_path: ${{ env.source_directory }}
          version: 0.0.${{ github.event.number }}
          netcommon_version: ${{ matrix.netcommon-version }}

      - name: Checkout netcommon
        uses: actions/checkout@v3
        with:
          path: ./ansible.netcommon
          repository: ansible-collections/ansible.netcommon
        if: ${{ matrix.netcommon-version == 'github' }} and !contains(GITHUB_WORKSPACE, 'netcommon')

      - name: Build and install the netcommon collection
        uses: ./github_actions/.github/actions/build_install_collection
        with:
          install_python_dependencies: true
          source_path: ./ansible.netcommon
          version: 0.0.${{ github.event.number }}
          netcommon_version: ${{ matrix.netcommon-version }}
        if: ${{ matrix.netcommon-version == 'github' }} and !contains(GITHUB_WORKSPACE, 'netcommon')

      - name: Print the ansible version
        run: ansible --version

      - name: Print the python dependencies
        run: python3 -m pip list

      - name: Run unit tests
        run: python -m pytest -vv --showlocals
        working-directory: ${{ steps.installed.outputs.collection_path }}
